<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="branding">
            <img src="assets/images/logo_ateliko.png" class="logo-icon" alt="logo icon">
            <h6 class="logo-text">ATELIKO</h6>
        </div>
        <div class="toggle-icon ms-auto">
            <i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->